/* resetando os valores da pagina e setando variaveis de cor */
*{
	margin: 0;
	padding: 0;
	--primary-color: #495d9c;
	--secondary-color: #e3e3e3;
	--hover-color: #263152;
}

body{
	background-color: var(--secondary-color);
	font-family: 'Poppins', sans-serif;
}
.content div{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content{
	margin:  20px;
	display: grid;
	grid-template-areas: 
	'profile resumo resumo resumo'
	'objetivos objetivos experi experi'
	'habili habili contato contato';
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.resumo{
	grid-area: resumo;
	margin-left: 10px;
	max-height: 300px;
	border-style: solid;
	border-color: var(--primary-color);
	border-width: 5px;
	padding: 20px;
}
h2	{
    font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
}
.profile-foto{
	grid-area: profile;
	height: 300px;
	width: 300px;
	border-style: solid;
	border-color: var(--primary-color);
	border-width: 5px;
}
.profile-foto img{
	height: 100%;
	width: 100%;
}
.objetivo{
	grid-area: objetivos;
	border-style: solid;
	border-color: var(--primary-color);
	border-width: 5px;
	padding: 20px;
}

.experiencias{
	grid-area: experi;
	border-style: solid;
	border-color: var(--primary-color);
	border-width: 5px;
	padding: 20px;
}
.habilidades{
	grid-area: habili;
	border-style: solid;
	border-color: var(--primary-color);
	border-width: 5px;
	padding: 20px 20px 20px;
}
.contato{
	grid-area: contato;
	margin-left: 10px;
	max-height: 300px;
	border-style: solid;
	border-color: var(--primary-color);
	border-width: 5px;
	padding: 20px 20px 20px;
}
.imgs{
	height: 36px;
	width: 36px;
}
.lista-habilidades{
 	margin-bottom: 25px;
	margin-top: 22px;
	width: 100%;
}
.lista-habilidades ul{
	margin-top: 10px;
}
.lista-habilidades li:hover{
	background-color: var(--hover-color);
	transition: 0.5s;
}
.spacing{
	grid-column: 1/5;
	height: 8vh;
}
.esquerda{
	display: inline-block;
	margin-bottom: 25px;
	min-width: 46.8%;
	max-width: 215px;
}
.direita{
	margin-left: 20px;
	min-width: 46.8%;
  	display: inline-block;
}
.lista-habilidades li{
  list-style-type: none;
  font-weight: bold;
  font-size: 12pt;
  background-color: var(--primary-color);
  padding: 12px 60px 12px 30px;
  margin-left: 0px;
  margin-bottom: 20px;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: var(--primary-color);
	font-family: 'Poppins', sans-serif;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body::-webkit-scrollbar{
	width: 5px;
}

body::-webkit-scrollbar-thumb{
	background-color: var(--primary-color);
}

body::-webkit-scrollbar-track{
	background-color: var(--secondary-color);
}

.logo a{
    text-decoration: none;
    font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 28px;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	width: 40%;
	height: 8vh;
}

.nav-links li{
	align-self: center;
	text-align: center;
	list-style: none;
}


.nav-links a{
	color: var(--secondary-color);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}

.menu{
	display: none;
}

.menu div{
	width: 25px;
	height: 3px;
	background-color: #000000;
	margin: 5px;
	transition: all 0.3s ease;
}

/* resetando o espaço entre os itens quando chegar a 1024px */
@media screen and (max-width:1024px){
	.nav-links{
		display: flex;
		justify-content: space-around;
		width: 50%;
		height: 100%;
	}
}

/* entrando em modo mobile */
@media screen and (max-width:768px){
	body{
		overflow-x: hidden;
	}

	.logo{
		padding-right: 29.8%;
	}

	.nav-links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: var(--primary-color);
		display:flex;
		flex-direction: column;
		align-items: center;
		width: 25%;
		transform: translateX(100%);
	}

	.nav-links li{
		opacity: 0;
	}

	.menu{
		display: block;
		cursor: pointer;
	}
	
	nav{
		padding-left: 20px;
	}

	.content{
		display: grid;
		grid-template: repeat(6,1fr) / auto;
	}
	.profile-foto{
		grid-row: 1 / 2;
		align-self: center;
	}
	.resumo{
		grid-row: 2 / 3;
	}
	.objetivo{
		grid-row: 3 / 4;
	}
	.experiencias{
		grid-row: 4 / 5;
	}
	.habilidades{
		grid-row: 5 / 6;
	}
	.contato{
		grid-row: 6 / 7;
	}
}

.nav-active{
		transform: translateX(0%);
		transition: transform 0.5s ease-in;
	}

.body-overflow{
	overflow-y: hidden;
}

/* keyframe de animacao dos itens do menu mobile */
@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	} to {
		opacity: 1;
		transform: translateX(0px);
	}
}

/* animacao do "hamburguer" do menu para um "X" */
.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}